#noFavoritesScreen {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--input-BgColor);
  min-height: 60rem;
  gap: 6rem;
}

#noFavoritesScreen h1 {
  color: #4e5455;
}
